server {
    listen 80 default_server;
    listen [::]:80 default_server;

    root /var/www/html;

    index index.html

    server_name _;

    client_max_body_size 0;
    fastcgi_request_buffering off;

    gzip on;
    gzip_vary on;
    gzip_min_length 1000;
    gzip_types text/plain application/octet-stream text/html text/css;

    location / {
        try_files $uri $uri/ =404;
        auth_basic off;
        auth_basic_user_file /etc/nginx/.htpasswd;
    }

    location /cgi-bin/ {
         auth_basic off;
         auth_basic_user_file /etc/nginx/.htpasswd;
         root /var/www/html;
         fastcgi_pass  unix:/var/run/fcgiwrap.socket;
         include /etc/nginx/fastcgi_params;
         fastcgi_param SCRIPT_FILENAME  $document_root$fastcgi_script_name;
         fastcgi_max_temp_file_size 0;
    }
    location /TeslaCam/ {
         auth_basic off;
         auth_basic_user_file /etc/nginx/.htpasswd;
         root /var/www/html;
         fancyindex on;
         fancyindex_css_href /fancyindex.css;
    }
}
